/* Created by Eric Zorn on August 10, 2017

   Eric Zorn, Module 9: Optional Local Storage Assignment with President Form, ICT 4570: Webscripting with JavaScript
*/


body {
    background-color: mediumseagreen !important;
    color: whitesmoke;
    font-family: SimSun, sans-serif;
}

.submitButton {
    background-color: transparent;
    color: white;
    border: solid 2px white;
    margin-left: 4%;
    font-size: 20px;
    border-radius: 5%;
}